/* typography */
.heading1 {font-size: 20px; font-weight: 500;}
.heading2 {font-size: 18px; font-weight: 500;}
.heading3 {font-size: 16px; font-weight: 400;}
.heading4 {font-size: 12px; font-weight: 600;}

/* noScroll */
html.noScroll,
body.noScroll {
    overflow: hidden;
    height: 100%;
}

/* color */
body {
    --color-main: #C20F2F;
    --color-sub: #A70825;
    --color-text1: #545454;
    --color-text2: #969696;
    --color-bg: #f6f6f6;
}

/* icon */
.icon {
    background: url(../img/icon.png) no-repeat;
    background-size: 335px 441px;
}
.touchevents .icon {
    background-image: url(../img/icon@2.png);
}

/* loading */
#loading {
    width: 100%; height: 100vh;
    position: fixed;
    left: 0; top: 0;
    background: #fff;
    z-index: 99999;
}
#loading .loading {
    width: 10px; height: 60px;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    animation: loading .8s ease-in-out 100;
}
#loading .loading .circle1 {
    width: 10px; height: 10px;
    background: var(--color-main);
    border-radius: 50%;
}
#loading .loading .circle2 {
    width: 10px; height: 10px;
    background: var(--color-main);
    border-radius: 50%;
    margin-top: 40px;
}
#loading .loading2 {
    display: flex;
    width: 60px; height: 10px;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    animation: loading .8s ease-in-out 100;
}
#loading .loading2 .circle1 {
    width: 10px; height: 10px;
    background: var(--color-main);
    border-radius: 50%;
}
#loading .loading2 .circle2 {
    width: 10px; height: 10px;
    background: var(--color-main);
    border-radius: 50%;
    margin-left: 40px;
}
@keyframes loading {
    0% {transform: rotate(0); opacity: .1;}
    50% {opacity: 1;}
    100% {transform: rotate(360deg); opacity: .1;}
}

/* side-nav */
#side-nav .side-nav {
    position: fixed;
    left: -100%; top: 0;
    background: var(--color-main);
    width: 70%; height: 100vh;
    z-index: 99999;
}
#side-nav .side-nav .info {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--color-sub);
    padding: 30px 30px;
}
#side-nav .side-nav .info img {
    width: 40px;
    margin-right: 14px;
}
#side-nav .side-nav .info span {
    color: #fff;
}
#side-nav .side-nav .info .setting {
    position: absolute;
    right: 16px; top: 16px;
    width: 22px; height: 22px;
    background-position: -218px -82px;
}
#side-nav .side-nav .menu {
    padding: 30px;
}
#side-nav .side-nav .menu li {
    color: #fff;
    margin-bottom: 9%;
}
#side-nav .side-nav .menu li:last-child {
    margin-bottom: 0;
}
#side-nav .side-nav .sns {
    border-top: 1px solid #fff;
    padding: 15px 20px;
}
#side-nav .side-nav .sns .icon {
    width: 40px; height: 40px;
    display: inline-block;
}
#side-nav .side-nav .sns .insta {
    background-position: -211px 0;
    margin-right: 6px;
}
#side-nav .side-nav .sns .facebook {
    background-position: -264px 0;
}
#side-nav .backdrop {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100vh;
    background: #000;
    z-index: 99998;
    display: none;
    opacity: 0;
}
#side-nav .backdrop.on {
    display: block;
    animation: dim .2s .15s forwards;
}
@keyframes dim {
    0% {opacity: 0;}
    100% {opacity: .6;}
}

/* header */
header {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    box-sizing: border-box;
    background: #fff;
    z-index: 10000;
    box-shadow: 0 2px 10px rgba(0,0,0,.04);
}
header .logo {
    background: url(../img/logo.png) no-repeat; 
    background-size: 143px;
    width: 143px; height: 36px;
    margin-top: 2px;
}
header .icon {
    width: 36px; height: 36px;
}
header .icon.ham {
    background-position: -31px -139px;
}
header .icon.bell {
    background-position: -91px -139px;
}
header .icon.search {
    background-position: -151px -139px;
}
header .icon.shop {
    background-position: -211px -139px;
}
header .icon.add {
    background-position: -271px -139px;
}

/* contents */
#contents {
    padding: 65px 0 140px;
}
#contents.order-bg {
    background: var(--color-bg);
    padding-bottom: 100px;
}
#contents.gift,
#contents.card {
    padding-bottom: 85px;
}

/* footer */
footer {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%; height: 84px;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
}
footer .store {
    position: absolute;
    left: 0; top: -36px;
    width: 100%;
    background: var(--color-main);
    padding: 10px 0;
    color: #fff;
    text-align: center;
}
footer ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 24px;
}
footer ul li {
    color: var(--color-text2);
}
footer ul li.active {
    color: var(--color-main);
}
footer ul li a {
    display: block;
    text-align: center;
    text-transform: uppercase;
}
footer .icon {
    display: block;
    width: 63px; height: 45px;
    margin-bottom: 2px;
}
footer .icon.home {
    background-position: -23px -216px;
}
footer .icon.order {
    background-position: -99px -216px;
}
footer .icon.gift {
    background-position: -175px -216px;
}
footer .icon.card {
    background-position: -251px -216px;
}
footer li.active .icon.home {
    background-position: -23px -297px;
}
footer li.active .icon.order {
    background-position: -99px -297px;
}
footer li.active .icon.gift {
    background-position: -175px -297px;
}
footer li.active .icon.card {
    background-position: -251px -297px;
}

/* swiper slide */
.menu-box {
    overflow: hidden;
}
.menu-box li {
    text-align: center;
    word-break: keep-all;
    color: var(--color-text1);
    line-height: 1.3;
}
.menu-box li a {
    position: relative;
    z-index: 10;
}
.menu-box li img {
    margin-bottom: 10px;
}
.Morder-container,
.season-container,
.recommend-container {
    padding: 0 20px;
    box-sizing: border-box;
}
.swiper-slide:after {
    background: none;
}
.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 5px;
}
.swiper-pagination-bullet {
    width: 10px; height: 10px;
    background: #c4c4c4;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: var(--color-main);
}

/* barcode modal */
#barcode {
    position: fixed;
    left: 0; top: 100%;
    width: 100%; height: 100vh;
    background: #fff;
    z-index: 10000;
}
#barcode img {
    width: 50%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
#barcode .icon.close {
    position: absolute;
    right: 16px; top: 16px;
    width: 50px; height: 50px;
    background-position: -263px -68px;
}
