@import url(font.css);
@import url(reset.css);
/*@import url(common.css);*/

/* ----------------- common ----------------- */
/* typography */
.heading1 {font-size: 20px; font-weight: 500;}
.heading2 {font-size: 18px; font-weight: 500;}
.heading3 {font-size: 16px; font-weight: 400;}
.heading4 {font-size: 12px; font-weight: 600;}

/* color */
html.noScroll,
body.noScroll {
    overflow: hidden;
    height: 100%;
}
body {
    --color-main: #C20F2F;
    --color-sub: #A70825;
    --color-text1: #545454;
    --color-text2: #969696;
    --color-bg: #f6f6f6;
}

/* icon */
.icon {
    background: url(../img/icon.png) no-repeat;
    background-size: 335px 441px;
}
.touchevents .icon {
    background-image: url(../img/icon@2.png);
}

/* loading */
#loading {
    width: 100%; height: 100vh;
    position: fixed;
    left: 0; top: 0;
    background: #fff;
    z-index: 99999;
}
#loading .loading {
    width: 10px; height: 60px;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    animation: loading .8s ease-in-out 100;
}
#loading .loading .circle1 {
    width: 10px; height: 10px;
    background: var(--color-main);
    border-radius: 50%;
}
#loading .loading .circle2 {
    width: 10px; height: 10px;
    background: var(--color-main);
    border-radius: 50%;
    margin-top: 40px;
}
#loading .loading2 {
    display: flex;
    width: 60px; height: 10px;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    animation: loading .8s ease-in-out 100;
}
#loading .loading2 .circle1 {
    width: 10px; height: 10px;
    background: var(--color-main);
    border-radius: 50%;
}
#loading .loading2 .circle2 {
    width: 10px; height: 10px;
    background: var(--color-main);
    border-radius: 50%;
    margin-left: 40px;
}
@keyframes loading {
    0% {transform: rotate(0); opacity: .1;}
    50% {opacity: 1;}
    100% {transform: rotate(360deg); opacity: .1;}
}

/* side-nav */
#side-nav .side-nav {
    position: fixed;
    left: -100%; top: 0;
    background: var(--color-main);
    width: 70%; height: 100vh;
    z-index: 99999;
}
#side-nav .side-nav .info {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--color-sub);
    padding: 30px 30px;
}
#side-nav .side-nav .info img {
    width: 40px;
    margin-right: 14px;
}
#side-nav .side-nav .info span {
    color: #fff;
}
#side-nav .side-nav .info .setting {
    position: absolute;
    right: 16px; top: 16px;
    width: 22px; height: 22px;
    background-position: -218px -82px;
}
#side-nav .side-nav .menu {
    padding: 30px;
}
#side-nav .side-nav .menu li {
    color: #fff;
    margin-bottom: 9%;
}
#side-nav .side-nav .menu li:last-child {
    margin-bottom: 0;
}
#side-nav .side-nav .sns {
    border-top: 1px solid #fff;
    padding: 15px 20px;
}
#side-nav .side-nav .sns .icon {
    width: 40px; height: 40px;
    display: inline-block;
}
#side-nav .side-nav .sns .insta {
    background-position: -211px 0;
    margin-right: 6px;
}
#side-nav .side-nav .sns .facebook {
    background-position: -264px 0;
}
#side-nav .backdrop {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100vh;
    background: #000;
    z-index: 99998;
    display: none;
    opacity: 0;
}
#side-nav .backdrop.on {
    display: block;
    animation: dim .2s .15s forwards;
}
@keyframes dim {
    0% {opacity: 0;}
    100% {opacity: .6;}
}

/* header */
header {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    box-sizing: border-box;
    background: #fff;
    z-index: 10000;
    box-shadow: 0 2px 10px rgba(0,0,0,.04);
}
header .logo {
    background: url(../img/logo.png) no-repeat; 
    background-size: 143px;
    width: 143px; height: 36px;
    margin-top: 2px;
}
header .icon {
    width: 36px; height: 36px;
}
header .icon.ham {
    background-position: -31px -139px;
}
header .icon.bell {
    background-position: -91px -139px;
}
header .icon.search {
    background-position: -151px -139px;
}
header .icon.shop {
    background-position: -211px -139px;
}
header .icon.add {
    background-position: -271px -139px;
}

/* contents */
#contents {
    padding: 65px 0 140px;
}
#contents.order-bg {
    background: var(--color-bg);
    padding-bottom: 100px;
}
#contents.gift,
#contents.card {
    padding-bottom: 85px;
}

/* footer */
footer {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%; height: 84px;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
}
footer .store {
    position: absolute;
    left: 0; top: -36px;
    width: 100%;
    background: var(--color-main);
    padding: 10px 0;
    color: #fff;
    text-align: center;
}
footer ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 24px;
}
footer ul li {
    color: var(--color-text2);
}
footer ul li.active {
    color: var(--color-main);
}
footer ul li a {
    display: block;
    text-align: center;
    text-transform: uppercase;
}
footer .icon {
    display: block;
    width: 63px; height: 45px;
    margin-bottom: 2px;
}
footer .icon.home {
    background-position: -23px -216px;
}
footer .icon.order {
    background-position: -99px -216px;
}
footer .icon.gift {
    background-position: -175px -216px;
}
footer .icon.card {
    background-position: -251px -216px;
}
footer li.active .icon.home {
    background-position: -23px -297px;
}
footer li.active .icon.order {
    background-position: -99px -297px;
}
footer li.active .icon.gift {
    background-position: -175px -297px;
}
footer li.active .icon.card {
    background-position: -251px -297px;
}

/* swiper slide */
.menu-box {
    overflow: hidden;
}
.menu-box li {
    text-align: center;
    word-break: keep-all;
    color: var(--color-text1);
    line-height: 1.3;
}
.menu-box li a {
    position: relative;
    z-index: 10;
}
.menu-box li img {
    margin-bottom: 10px;
}
.Morder-container,
.season-container,
.recommend-container {
    padding: 0 20px;
    box-sizing: border-box;
}
.swiper-slide:after {
    background: none;
}
.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 5px;
}
.swiper-pagination-bullet {
    width: 10px; height: 10px;
    background: #c4c4c4;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: var(--color-main);
}

/* barcode modal */
#barcode {
    position: fixed;
    left: 0; top: 100%;
    width: 100%; height: 100vh;
    background: #fff;
    z-index: 10000;
}
#barcode img {
    width: 50%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
#barcode .icon.close {
    position: absolute;
    right: 16px; top: 16px;
    width: 50px; height: 50px;
    background-position: -263px -68px;
}





/* ----------------- home ----------------- */
/* profile */
.profile {
    background: var(--color-main);
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}
.profile-img {
    width: 118px; height: 118px;
}
.profile-desc {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1;
    margin-left: 30px;
    color: #fff;
}
.profile-desc h1 {
    position: relative;
    border-bottom: 1px solid #fff;
    padding-bottom: 7px;
    margin-bottom: 4px;
}
.profile-desc h1 .setting {
    position: absolute;
    right: 0; top: 0;
    width: 22px; height: 22px;
    background-position: -218px -82px;
}
.profile-desc > a {
    position: relative;
    margin-top: 10px;
    font-weight: 300;
    display: block;
}
.profile-desc a em {
    font-weight: 500;
}
.profile-desc a span {
    position: absolute;
    right: 0; top: 2px;
    width: 7px; height: 12px;
    background-position: -110px -87px;
}

/* Mcard */
.card-box {
    margin: 10px 20px 0;
}
.card-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    position: relative;
    background: var(--color-bg);
    border-radius: 10px;
}
.card-box span:first-child {
    position: absolute; 
    left: 8px; top: 8px;
    width: 54px; height: 54px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px rgba(0,0,0,.1) inset;
}
.card-box span:last-child {
    position: absolute;
    right: 8px; top: 8px;
    width: 54px; height: 54px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px rgba(0,0,0,.1) inset;
}
.card-box span em {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-main);
}
.card-box span img {
    width: 38px;
}

/* title */
.Mtitle h2 {
    position: relative;
    display: inline-block;
    margin: 25px 0 10px 20px;
}
.Mtitle h2 .arrow_red {
    position: absolute;
    right: -20px; top: 3px;
    width: 8px; height: 14px;
    background-position: -164px -86px;
}



/* ----------------- order ----------------- */
/* order-btn */
.order-btn {
    margin: 20px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
}
.order-btn .order-btns {
    display: flex;
    flex: 1;
}
.order-btn .btn {
    width: 33.333%;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: var(--color-text1);
}
.order-btn .btn:nth-child(2) {
    border-left: 2px solid var(--color-bg);
    border-right: 2px solid var(--color-bg);
}
.order-btn .btn .icon {
    display: block;
    width: 109px; height: 70px;
    margin-bottom: 8px;
}
.order-btn .btn .history {
    background-position: 0 -371px;
}
.order-btn .btn .to-order {
    background-position: -113px -371px;
}
.order-btn .btn .bookmark {
    background-position: -226px -371px;
}

/* menu */
.season,
.recommend {
    background: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
}
.menu-title h2 {
    position: relative;
    margin: 0 0 10px 20px;
    padding-left: 12px;
}
.menu-title h2::before {
    content: '';
    width: 3px; height: 16px;
    background: var(--color-main);
    position: absolute;
    left: 0; top: 2px;
}


/* ----------------- gift ----------------- */
/* top-nav */
.top-nav {
    position: fixed;
    left: 0; top: 64px;
    width: 100%;
}
.gift-nav {
    background: var(--color-bg);
}
.gift-nav ul {
    display: flex;
    justify-content: space-between;
}
.gift-nav ul li {
    width: 33.333%;
}
.gift-nav ul li.active {
    border-bottom: 2px solid var(--color-main);
}
.gift-nav ul li a {
    display: block;
    padding: 15px 0 12px;
    text-align: center;
}
.menu-nav {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.03); 
    overflow-x: scroll; 
}
.menu-nav::-webkit-scrollbar {
    display: none;
}
.menu-nav ul {
    display: flex;
}
.menu-nav ul li {
    color: var(--color-text2);
    flex-shrink: 0;
}
.menu-nav ul li:first-child {
    padding-left: 15px;
}
.menu-nav ul li:last-child {
    padding-right: 15px;
}
.menu-nav ul li.active {
    color: var(--color-text1);
    font-weight: 500;
}
.menu-nav ul li a {
    display: block;
    padding: 15px;
}

/* list */
.list {
    padding-top: 96px;
}
.list ul li {
    padding: 16px;
    border-top: 1px solid var(--color-bg);
}
.list ul li a {
    display: flex;
}
.list ul li img {
    width: 106px; height: 125px;
}
.list ul li .bc-desc {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 16px;
}
.list ul li .bc-desc .eyebrow {
    color: var(--color-text2);
    margin-bottom: 6px;
}
.list ul li .bc-desc .price {
    color: var(--color-main);
    font-weight: 500;
    margin-top: 6px;
}


/* ----------------- card ----------------- */
/* card-title */
.card-title {
    padding: 14px 20px;
}
.card-title h1 {
    color: var(--color-text1); 
    margin-bottom: 5px;
}
.card-title p {
    color: var(--color-text2);
}

/* mycard */
.mycard {
    background: var(--color-bg); 
    padding: 20px;
}
.mycard .card-graphic {
    position: relative;
    width: 100%; height: 210px;
    background: var(--color-sub);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,.04);
}
.mycard .card-graphic .top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.mycard .card-graphic .top h2 {
    color: #fff;
    text-transform: uppercase;
}
.mycard .card-graphic .top .icon.star {
    width: 21px; height: 21px;
    background-position: -39px -82px;
}
.mycard .card-graphic .bottom {
    position: absolute; 
    left: 0; bottom: -1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mycard .card-graphic .bottom h2 {
    line-height: 1.6;
    color: var(--color-sub);
}
.mycard .card-graphic .bottom span {
    color: var(--color-sub);
}
.mycard .card-graphic .bottom em {
    font-size: 24px;
}
.mycard .barcode a {
    position: relative;
    display: block;
    margin-top: 21px;
    background: #fff;
    border-radius: 10px;
    padding: 15px 20px 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,.04);
}
.mycard .barcode img {
    width: 70%;
}
.mycard .barcode p {
    margin-top: 4px;
}
.mycard .barcode .icon.arrow_red {
    position: absolute;
    right: 20px; top: 50%;
    transform: translateY(-50%);
    width: 14px; height: 25px;
    background-position: -161px -8px;
}
.mycard .dot {
    background: var(--color-sub);
    width: 10px; height: 10px;
    border-radius: 50%;
    margin: 20px auto 0;
}

/* card-btn */
.card-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    color: var(--color-text1);
}
.card-btn a {
    padding: 16px 0; 
    text-align: center;
    width: 48%;
    box-sizing: border-box;
    border: 1px solid var(--color-text1);
    border-radius: 3px;
    margin-bottom: 16px;
}
.card-btn a:nth-child(3),
.card-btn a:nth-child(4) {
    margin-bottom: 0;
}







/* media query */
@media (max-width: 320px) {
    #side-nav .side-nav .info {padding: 25px 30px;}
    #side-nav .side-nav .info img {margin-right: 12px;}
    #side-nav .side-nav .menu {padding: 25px 30px;}
    #side-nav .side-nav .menu li {font-size: 13px;}
    #side-nav .side-nav .sns {padding: 10px 20px;}
    
    footer ul {padding: 0 14px;}
    
    .profile-img {width: 108px; height: 108px;}
    .profile-desc {margin-left: 20px;}
    .profile-desc > a {margin-top: 7px;}
    
    .menu-box li {font-size: 13px;}
    
    .order-btn .btn .icon {width: 90px;}
    .order-btn .btn .history {background-position: -8px -371px;}
    .order-btn .btn .to-order {background-position: -123px -371px;}
    .order-btn .btn .bookmark {background-position: -235px -371px;}
    
    .list ul li {padding: 12px;}
    .list ul li img {width: 91px; height: 107px;}
    .list ul li .bc-desc {margin-left: 12px;}
    .list ul li .bc-desc h3,
    .list ul li .bc-desc .price {font-size: 14px;}
    .list ul li .bc-desc .eyebrow {font-size: 13px;}
    
    .card-title p {font-size: 12px;}
    .mycard .card-graphic {height: 185px;}
    .card-btn a {font-size: 14px;}
}